{#
/**
 * @file
 * Default theme implementation for ldap_listing_directory_listing
 * field item.
 *
 * Available variables:
 * - section: The directory section data to render for this field
 *
 * Section variables:
 * - section.id: The section config entity ID
 * - section.label: The section title text
 * - section.abbrev: The abbreviated section title text
 * - section.error: Flag indicating whether an error occurred and the section could not be loaded
 * - section.header: List of lists containing header item values
 * - section.body: List of user entries; each entry contains the following object:
 *   - section.body.dn: The user's distinguished name
 *   - section.body.emailLink: If non-empty, then contains a mailto link of the user's email address
 *   - section.body.userPageLink: If non-empty, then contains the link to the user's profile page
 *   - section.body.userImageLink: If non-empty, then contains the link to the user's profile image
 *   - section.body.rank: The rank classification of the user (Note: the list is already sorted by rank)
 *   - section.body.name: The user name
 *   - section.body.email: The user's raw email address
 *   - section.body.title: The user's job title
 *   - section.body.phone: The user's phone number
 * - section.footer: List of lists containing footer item values
 * - section.weight: The weight value assigned to this section
 */
#}

<div class="ldap-listing-directory-listing-field">
  <div class="directory-listing-section-wrapper">
    <div class="directory-listing-section">
      <div class="heading">
        <span>{{ section.label }}</span>
        {% if section.abbrev %}
          <span class="abbrev">{{ section.abbrev }}</span>
        {% endif %}
      </div>

      {% if section.header %}
        <div class="header header-footer">
          {% for entry in section.header %}
            <div class="entry">
              {% for item in entry %}
                <div class="entry-item">{{ item }}</div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="body">
        {% if section.error %}
          <div class="error">
            <span>An error occurred and this section of the directory could not be loaded.</span>
          </div>
        {% elseif section.body is empty %}
          <div class="empty">
            <span>No results</span>
          </div>
        {% endif %}

        {% for user in section.body %}
          <div class="user-entry">
            <div class="name user-entry-item">
              {% if user.userPageLink %}
                <a href="{{ user.userPageLink }}">{{ user.name }}</a>
              {% else %}
                <span>{{ user.name }}</span>
              {% endif %}
              {% if user.emailLink %}
                <div class="mail-link-wrapper">
                  <a href="{{ user.emailLink }}" class="mail-link" title="{{ user.email }}">✉</a>
                </div>
              {% endif %}
            </div>
            <div class="title user-entry-item">{{ user.title }}</div>
            <div class="phone user-entry-item">{{ user.phone }}</div>
          </div>
        {% endfor %}
      </div>

      {% if section.footer %}
        <div class="footer header-footer">
          {% for entry in section.footer %}
            <div class="entry">
              {% for item in entry %}
                {% if not loop.last and entry[loop.index0+1] is null %}
                <div class="entry-item nowrap">{{ item }}</div>
                {% else %}
                <div class="entry-item">{{ item }}</div>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
