{#
/**
 * @file
 * Default theme implementation for ldap_listing_directory_listing
 * render element.
 *
 * Available variables:
 * - manifest: List of all user info to embed in the page for front-end use
 * - sections: List of directory sections to render; each section contains the following object:
 *   - id: The section config entity ID
 *   - label: The section title text
 *   - abbrev: The abbreviated section title text
 *   - error: Flag indicating whether an error occurred and the section could not be loaded
 *   - header: List of lists containing header item values
 *   - body: List of user entries; each entry contains the following object:
 *     - dn: The user's distinguished name
 *     - emailLink: If non-empty, then contains a mailto link of the user's email address
 *     - userPageLink: If non-empty, then contains the link to the user's profile page
 *     - userImageLink: If non-empty, then contains the link to the user's profile image
 *     - rank: The rank classification of the user (Note: the list is already sorted by rank)
 *     - name: The user name
 *     - email: The user's raw email address
 *     - title: The user's job title
 *     - phone: The user's phone number
 *   - footer: List of lists containing footer item values
 *   - weight: The weight value assigned to this section
 * - preamble_message_lines: Array of lines to output containing the preamble message
 * - last_generated_message: Text representation of last generated date
 */
#}

<div class="ldap-listing-directory">
  <div class="ldap-listing-directory__top-matter">
    <div class="ldap-listing-directory__search-box-wrapper">
      <input id="ldap-listing-directory-search-box" class="ldap-listing-directory__search-box" placeholder="Search name/job/phone/department" type="search">
    </div>

    <script id="ldap-listing-directory-manifest" type="application/json">{{ manifest|json_encode()|raw }}</script>

    <div id="ldap-listing-directory-results-region" class="ldap-listing-directory__search-results"></div>

    {% if preamble_message_lines %}
      <div class="ldap-listing-directory__preamble">
        {% for line in preamble_message_lines %}
          <p>{{ line }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="ldap-listing-directory__sections">
    {% for section in sections %}
      <div class="ldap-listing-section ldap-listing-directory__section">
        <div class="ldap-listing-section__inner">
          <div class="ldap-listing-section__heading">
            <span>{{ section.label }}</span>
            {% if section.abbrev %}
              <span class="ldap-listing-section__heading-abbrev">{{ section.abbrev }}</span>
            {% endif %}
          </div>

          {% if section.header %}
            <div class="ldap-listing-section__header-footer">
              {% for entry in section.header %}
                <div class="ldap-listing-section__header-footer-entry">
                  {% for item in entry %}
                    <div class="ldap-listing-section__header-footer-entry-item">{{ item }}</div>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          {% endif %}

          <div class="ldap-listing-section__body">
            {% if section.error %}
              <div class="ldap-listing-section__body-error">
                <div>An error occurred and this section of the directory could not be loaded.</div>
              </div>
            {% elseif section.body is empty %}
              <div class="ldap-listing-section__body-empty">
                <span>No results</span>
              </div>
            {% endif %}

            {% for user in section.body %}
              <div class="ldap-listing-section__user-entry">
                <div class="ldap-listing-section__user-entry-item ldap-listing-section__user-entry-item--name">
                  {% if user.userPageLink %}
                    <a href="{{ user.userPageLink }}">{{ user.name }}</a>
                  {% else %}
                    <span>{{ user.name }}</span>
                  {% endif %}
                  {% if user.emailLink %}
                    <div class="ldap-listing-mail-link">
                      <a href="{{ user.emailLink }}" class="ldap-listing-mail-link__anchor" title="{{ user.email }}">✉</a>
                    </div>
                  {% endif %}
                </div>
                <div class="ldap-listing-section__user-entry-item">{{ user.title }}</div>
                <div class="ldap-listing-section__user-entry-item ldap-listing-section__user-entry-item--phone">{{ user.phone }}</div>
              </div>
            {% endfor %}
          </div>

          {% if section.footer %}
            <div class="ldap-listing-section__header-footer">
              {% for entry in section.footer %}
                <div class="ldap-listing-section__header-footer-entry">
                  {% for item in entry %}
                    {% if not loop.last and entry[loop.index0+1] is null %}
                    <div class="ldap-listing-section__header-footer-entry-item ldap-listing-section__header-footer-entry-item--nowrap">{{ item }}</div>
                    {% else %}
                    <div class="ldap-listing-section__header-footer-entry-item">{{ item }}</div>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="ldap-listing-directory__bottom-message">Last generated on {{ last_generated_message }}</div>
</div>
