{#
/**
 * Default theme implementation for ldap_listing_directory_listing
 * field item.
 */
#}

<div class="ldap-listing-directory-listing-field">
  <div class="directory-listing-section-wrapper">
    <div class="directory-listing-section">
      <div class="heading">
        <span class="label">{{ section.label }}</span>
        {% if section.abbrev %}
          <span> (<span class="abbrev">{{ section.abbrev }}</span>)</span>
        {% endif %}
      </div>

      {% if section.header %}
        <div class="header header-footer">
          {% for entry in section.header %}
            <div class="entry">
              {% for item in entry %}
                <div class="entry-item">{{ item }}</div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="body">
        {% if section.error %}
          <div class="error">
            <div>An error occurred and this section of the directory could not be loaded.</div>
          </div>
        {% endif %}

        {% for user in section.body %}
          <div class="user-entry">
            <div class="name user-entry-item">
              {% if user.userPageLink %}
                <a href="{{ user.userPageLink }}">{{ user.name }}</a>
              {% else %}
                <span>{{ user.name }}</span>
              {% endif %}
              {% if user.emailLink %}
                <div class="mail-link-wrapper">
                  <a href="{{ user.emailLink }}" class="mail-link" title="{{ user.email }}">✉</a>
                </div>
              {% endif %}
            </div>
            <div class="title user-entry-item">{{ user.title }}</div>
            <div class="phone user-entry-item">{{ user.phone }}</div>
          </div>
        {% endfor %}
      </div>

      {% if section.footer %}
        <div class="footer header-footer">
          {% for entry in section.footer %}
            <div class="entry">
              {% for item in entry %}
                {% if not loop.last and entry[loop.index0+1] is null %}
                <div class="entry-item nowrap">{{ item }}</div>
                {% else %}
                <div class="entry-item">{{ item }}</div>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
